@model bat.logic.ViewModels.Lessons.Edit
@{
    ViewBag.Title = "Edit Lesson";
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~//assets/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~//assets/vendor/bootstrap-select/bootstrap-select.min.css")">
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/en-au.js"></script>
    <script src="@Url.Content("~//assets/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~//assets/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="https://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="@Url.Content("~//assets/js/lessonResource.js")"></script>
    <script src="@Url.Content("~//assets/vendor/pdf.js/build/pdf.js")"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: '#DetailedDescription',
            theme: 'modern',
            height: 400
        });
        $(document).ready(function () {
            $('#BookingDate').datetimepicker({
                locale: 'en-au'
            });
        });
    </script>
}
<h2>Change Lesson Details</h2>


@{ Html.BeginForm("Edit", "Lessons", FormMethod.Post); }

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date of lesson</label>
            <p>
                <strong>
                    @Model.lesson.BookingDate.ToString("dd/MM/yyyy hh:mm tt")
                </strong>
            </p>
        </div>

        <div class="form-group">
            <label class="control-label required">Subject</label>
            <select class="form-control selectpicker" name="Subject" required>
                @foreach (var dpt in bat.logic.Constants.Subjects.Departments)
                {
                    <optgroup label="@dpt.Name">
                        @foreach (var s in dpt.Subjects)
                        {
                            var selected = "";
                            if (Model.lesson.Subject.Equals(s, StringComparison.CurrentCultureIgnoreCase))
                            {
                                selected = "selected";
                            }
                            <option value="@s" @selected>@s</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="form-group">
            <label class="control-label required">Description</label>
            <input type='text' class="form-control" name="Description" id="Description" value="@Model.lesson.Description" required />
        </div>

        <div class="form-group">
            <label class="control-label required">Duration in mins</label>
            <input type='number' step="15" class="form-control" name="DurationMins" id="DurationMins" value="@Model.lesson.DurationMins" required />
        </div>

        <div class="form-group">
            <label class="control-label required">Class size (zero (0) for no limit)</label>
            <input type='number' min="0" max="1000" step="1" class="form-control" name="ClassSize" id="ClassSize" value="@Model.lesson.ClassSize" required />
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label class="control-label">Detailed Description</label>
            <textarea class="form-control" rows="5" placeholder="Detailed Description" name="DetailedDescription" id="DetailedDescription">@HttpUtility.UrlDecode(Model.lesson.DetailedDescription)</textarea>
        </div>
    </div>
</div>

<div style="margin-top: 40px; margin-bottom: 20px; overflow: auto;">
    <input type="submit" value="Ok" class="btn btn-lg btn-success pull-right" style="width: 110px;"/>
    <a href="@Url.Action("Index", new { id = Model.lesson.ID })" class="btn btn-lg btn-default pull-right" style="margin-right: 20px;">
        Back to lesson
    </a>
</div>

@{ Html.EndForm(); }
<div>
    <table class="table">
        <tr>
            <th colspan="2">
                Lesson Resources
            </th>
        </tr>
        <tr>
            @*@{ Html.BeginForm("UploadResource", "lessons", new { id = Model.lesson.ID } , FormMethod.Post, new { enctype = "multipart/form-data" }); }
            @{ Html.EndForm(); }*@
            <td>
                <input type="hidden" id="uploadPath" value="@Url.Action("UploadResourceImage", "Lessons")" />
                <input type='file' class="form-control" name="ClassResource" id="ClassResource" />
            </td>
        </tr>
        @foreach (var resource in Model.lessonResources)
            {
            <tr>
                <td>
                    <a href="@Url.Action("downloadresource", "lessons", new { id = resource.ID, name = resource.Original_Name})"> @resource.Original_Name </a>
                </td>
                <td>
                    <a href="@Url.Action("deleteresource", "lessons", new { id = Model.lesson.ID, resourceId = resource.ID})">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

    <!-- Modal -->
<div class="modal fade" id="toImageModal" tabindex="-1" role="dialog" aria-labelledby="toImageModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p></p>
            </div>
            <div class="modal-body">
                <div>
                    <p>Whould you like to be able to display on blackboard?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="loadPreview()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="form-group">
                    <input type="text" class="modal-title form-control" id="previewTitle">
                </div>
            </div>
            <div id="modal-preview-body" class="modal-body">
                <div id="preview-carousel" class="carousel slide">
                    <div id="canvasCarousel" class="carousel-inner" role="listbox">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="savePreview('@Model.lesson.ID')">Upload Image</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="form-group">
                    <input type="text" class="modal-title form-control" id="previewTitle">
                </div>
            </div>
            <div class="modal-body">
                <div id="pdfContainer" style="width:100%;">
                    <canvas id="previewCanvas"></canvas>
                </div>
                <div id="pdfButtons"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="savePreview('@Model.lesson.ID')">Upload Image</button>
            </div>
        </div>
    </div>
</div>*@