@model bat.logic.ViewModels.Lessons.Edit
@{
    ViewBag.Title = "Edit Lesson";
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~//assets/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~//assets/vendor/bootstrap-select/bootstrap-select.min.css")">
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/en-au.js"></script>
    <script src="@Url.Content("~//assets/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~//assets/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="https://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="@Url.Content("~//assets/vendor/pdf.js/build/pdf.js")"></script>
    <script src="@Url.Content("~//assets/js/lessonResource.js")"></script>

    <script type="text/javascript">
        lessonId = @Model.lesson.ID;
        tinymce.init({
            selector: '#DetailedDescription',
            theme: 'modern',
            height: 400
        });
        $(document).ready(function () {
            $('#BookingDate').datetimepicker({
                locale: 'en-au'
            });
        });
    </script>
}
<h2>Change Lesson Details</h2>


@{ Html.BeginForm("Edit", "Lessons", FormMethod.Post); }

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date of lesson</label>
            <p>
                <strong>
                    @Model.lesson.BookingDate.ToString("dd/MM/yyyy hh:mm tt")
                </strong>
            </p>
        </div>

        <div class="form-group">
            <label class="control-label required">Subject</label>
            <select class="form-control selectpicker" name="Subject" required>
                @foreach (var dpt in bat.logic.Constants.Subjects.Departments)
                {
                    <optgroup label="@dpt.Name">
                        @foreach (var s in dpt.Subjects)
                        {
                            var selected = "";
                            if (Model.lesson.Subject.Equals(s, StringComparison.CurrentCultureIgnoreCase))
                            {
                                selected = "selected";
                            }
                            <option value="@s" @selected>@s</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="form-group">
            <label class="control-label required">Description</label>
            <input type='text' class="form-control" name="Description" id="Description" value="@Model.lesson.Description" required />
        </div>

        <div class="form-group">
            <label class="control-label required">Duration in mins</label>
            <input type='number' step="15" class="form-control" name="DurationMins" id="DurationMins" value="@Model.lesson.DurationMins" required />
        </div>

        <div class="form-group">
            <label class="control-label required">Class size (zero (0) for no limit)</label>
            <input type='number' min="0" max="1000" step="1" class="form-control" name="ClassSize" id="ClassSize" value="@Model.lesson.ClassSize" required />
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label class="control-label">Detailed Description</label>
            <textarea class="form-control" rows="5" placeholder="Detailed Description" name="DetailedDescription" id="DetailedDescription">@HttpUtility.UrlDecode(Model.lesson.DetailedDescription)</textarea>
        </div>
    </div>
</div>

<div style="margin-top: 40px; margin-bottom: 20px; overflow: auto;">
    <a href="@Url.Action("Cancel", new { id = Model.lesson.ID })" class="btn btn-lg btn-danger pull-left" style="margin-right: 20px;">
        Cancel lesson
    </a>

    <input type="submit" value="Ok" class="btn btn-lg btn-success pull-right" style="width: 110px;"/>
    <a href="@Url.Action("Index", new {id = Model.lesson.ID})" class="btn btn-lg btn-default pull-right" style="margin-right: 20px;">
        Back to lesson
    </a>
</div>

@{ Html.EndForm(); }
@*<div>
    <table class="table">
        <tr>
            <th colspan="2">
                Blackboard Images
            </th>
        </tr>
        @foreach (var resource in Model.lessonResources)
            {
            <tr>
                <td>
                    @if (resource.Type_ID == bat.logic.Constants.Types.Default)
                    {
                        <a href="@Url.Action("downloadresource", "lessons", new { id = resource.ID, name = resource.Original_Name})"> @resource.Original_Name </a>
                    } else
                    {
                        <p>@resource.Original_Name</p>
                    }
                </td>
                <td>
                    <a href="@Url.Action("deleteresource", "lessons", new { id = Model.lesson.ID, resourceId = resource.ID})">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>*@

