@model bat.logic.ViewModels.Lessons.Join
@{
    var user = new bat.logic.Rules.Authentication(Request.GetOwinContext()).GetLoggedInUser();
    ViewBag.Title = "Join Lesson";
}

@section head {

}
@section scripts {
}

@{ Html.BeginForm("Join", "Lessons", FormMethod.Post); }
<div class="row">
    <div class="col-md-12 center">
        <h2>@Model.lesson.Description</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <div class="pull-left">
                @if (string.IsNullOrEmpty(bat.logic.Helpers.UserAccountInfo.GetAccountPicture(user.ID)))
                {
                    <img style="height: 120px; width: 120px;" src="@Url.Content("~/assets/img/default-avatar.png")" alt="Profile Pic" />
                }
                else {
                    <img style="height: 120px; width: 120px;" src="@Url.Action("DownloadResource", "ProfilePictureApi", new { id = user.ID, name = bat.logic.Helpers.UserAccountInfo.GetAccountFirstName(user.ID) })" alt="Profile Pic" />
                }            
            </div>
            <div class="pull-left" style="margin-left: 20px;">
                <p>
                    <a href="@Url.RouteUrl("teacher", new {id = Model.teacher.ID})">
                        @bat.logic.Helpers.UserAccountInfo.GetFullAccountName(Model.teacher.ID)
                    </a>
                </p>
                <p>
                    @Model.teacher.Qualifications
                </p>
                <p>
                    @Model.teacher.Description
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Raw(HttpUtility.UrlDecode(Model.lesson.DetailedDescription))
        <p>
            <strong>Subject:</strong> <a href="@Url.RouteUrl("list-lessons", new {subject = Model.lesson.Subject})">@Model.lesson.Subject</a>
        </p>
        <p>
            <strong>Date:</strong> @Model.lesson.BookingDate.ToString("dd/MM/yyyy hh:mm tt")
        </p>
        <p>
            <strong>Duration mins:</strong> @Model.lesson.DurationMins
        </p>
        <p>
           <strong>Class size:</strong> @Model.lesson.ClassSize
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 40px; overflow: auto;">
        <a href="@Url.RouteUrl("list-lessons", new {subject = Model.Subject})" class="btn btn-lg btn-default" style="width: 110px; margin-right: 20px;">
            Cancel
        </a>
        <input type="submit" value="Join" class="btn btn-lg btn-success" style="width: 110px;" />
    </div>
</div>
@{ Html.EndForm(); }