@model bat.logic.ViewModels.Lessons.Join
@{
    ViewBag.Title = "Join Lesson";
}

@section head {
}
@section scripts {
}

@{ Html.BeginForm("Join", "Lessons", FormMethod.Post); }

<div class="row">
    <div class="col-md-3">
        <h2>@Model.lesson.Description</h2>

        <p>
            Subject: @Model.lesson.Subject
        </p>
        <p>
            Date: @Model.lesson.BookingDate.ToString("dd/MM/yyyy hh:mm tt")
        </p>
        <p>
            Duration mins: @Model.lesson.DurationMins
        </p>
        <p>
            Class size: @Model.lesson.ClassSize
        </p>

        <div style="margin-top: 40px; overflow: auto;">
            <a href="@Url.RouteUrl("list-lessons", new {subject = Model.Subject})" class="btn btn-lg btn-default" style="width: 110px; margin-right: 20px;">
                Cancel
            </a>
            <input type="submit" value="Join" class="btn btn-lg btn-success" style="width: 110px;"/>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        @Html.Raw(HttpUtility.UrlDecode(Model.lesson.DetailedDescription))
    </div>
</div>

@{ Html.EndForm(); }