@model bat.logic.ViewModels.Lessons.View
@{
    ViewBag.Title = Model.lesson.Description;
}

@section head {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
    @Styles.Render("~/assets/css/blackboard")
    @Styles.Render("~/assets/css/literallycanvas")
    <script>
        lessonId = "@Model.lesson.ID";
        id = @Model.account.ID;
        username = "@Model.account.Fname" + " " + "@Model.account.Lname";
        var deleteResourceUrl = '@Url.Action("DeleteResource", "Lessons", new { id = Model.lesson.ID })';
        var IsHost = "false";
        var IsHaveControl = "false";
        var exitMode = false;
        if(@Model.account.AccountType_ID == 2)
        {
            IsHost = "true";
            IsHaveControl = "true";
            exitMode = true;
        }
    </script>
    <style>
        .collapsed {
            display: none; /* hide it for small displays */
        }

        .inline {
            display: inline-block;
            border: 0px solid red;
        }
        .nomarginrow{
            margin-right: 0px;
    margin-left: 0px;
        }
    </style>
}


@section scripts {
    <script>
        $('#bbImage-list').slimScroll({
            height: '500px'
        });
        //$(window).load(function() {
        //    // Animate loader off screen
        //    $(".se-pre-con").fadeOut("slow");
        //});

    </script>
}

@section outsideContainer {

    <input type="hidden" id="hdnConnId" />
    <div class="row nomarginrow" style="margin-top:-60px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-2" id="sidebar-left">
                    <div class="pull-right"><a href="javascript:void(0)" class="closebtn toggle-sidebar-left" onclick="closeNav('.toggle-sidebar-left,.closebtn.toggle-sidebar-left')">&times;</a></div>                    
                    <div class="col-md-12">
                        <div style="background:#cccccc;border:1px solid #cccccc;">
                            <div class="dropdown">
                                <div class='inline' style="font-weight: bold;"><div>@Model.lesson.Description</div></div>
                                <div class="dropdown-toggle" type="button" data-toggle="dropdown" style="font-size: smaller;">
                                    @*<div>@Model.lesson.Description</div> &nbsp; <div>@Model.lesson.Subject<span class="caret"></span></div>*@

                                    <div class='inline'><div>@Model.lesson.Subject<span class="caret"></span></div></div>
                                </div>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="have-child">
                                        @if (Model.IsTeacher)
                                        {
                                            <a href="@Url.Action("Reschedule", new {id = Model.lesson.ID})" class="btn btn-md btn-default">
                                                <i class="fa fa-calendar"></i> Reschedule lesson
                                            </a>
                                            <a href="@Url.Action("Edit", new {id = Model.lesson.ID})" class="btn btn-md btn-default">
                                                <i class="fa fa-edit"></i> Edit lesson details
                                            </a>
                                        }
                                        <a href="@Model.lesson.ZoomJoinUrl" target="_blank" class="btn btn-md btn-primary">
                                            <i class="fa fa-video-camera"></i> Start video
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <br />
                            <div class="col-md-4">
                                @if (string.IsNullOrEmpty(Model.host.Picture))
                                {
                                    <img style="height: 50px; width: 50px;" src="@Url.Content("~/assets/img/default-avatar.png")" alt="Profile Pic" />
                                }
                                else
                                {
                                    <img style="height: 50px; width: 50px;" src="@Url.Action("DownloadResource", "ProfilePictureApi", new { id = Model.host.ID, name = Model.host.Fname})" alt="Profile Pic" />
                                }
                            </div>
                            <div class="col-md-8">
                                @Model.host.Fname @Model.host.Lname<br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="font-size: 14px;">
                                Date: @Model.lesson.BookingDate.ToString("dd/MM/yyyy hh:mm tt")<br />
                                Duration mins: @Model.lesson.DurationMins<br />
                                Class size: @Model.lesson.ClassSize
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-12">
                        <strong>
                            Attendees
                        </strong>
                        <div class="col-md-12" style="overflow:auto;font-size: 16px;">
                            @foreach (var student in Model.others)
                            {
                                <text>
                                    <br />
                                    <i class="fa fa-user"></i> @student.Fname @student.Lname
                                </text>
                            }
                        </div>
                    </div>

                </div>
                <div class="col-lg-5" id="middle-content">
                    
                        <button type="button" class="btn toggle-sidebar-left" style='display:none'  onclick="closeNav('.closebtn.toggle-sidebar-left,.toggle-sidebar-left')"><span class="glyphicon glyphicon-chevron-right"></span></button>
                        <button type="button" class="btn toggle-sidebar-right pull-right" style='display:none'  onclick="closeNav('.closebtn.toggle-sidebar-right,.toggle-sidebar-right')"><span class="glyphicon glyphicon-chevron-left"></span></button>

                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.Partial("_PartialWhiteboard", Model)
                        </div>
                    </div>

                </div>
                <div class="col-lg-5" id="sidebar-right">
                    <div class="pull-left"><a href="javascript:void(0)" class="closebtn toggle-sidebar-right" onclick="closeNav('.toggle-sidebar-right,.closebtn.toggle-sidebar-right')">&times;</a></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <video width="100%" height="100%" controls="controls" controlsList="nodownload">
                                <source src="~/assets/sample-video/mov_bbb.mp4.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.Partial("_PartialChatBox", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
        <div style="width:630px" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="no-margin">Upload an image to use on the Blackboard</h4>
                </div>
                <div class="modal-body">
                    <input style="margin-bottom: 2px;" type='file' class="form-control" name="Upload Blackboard image" id="bbImageInput" />
                    <div id="preview-carousel" class="carousel slide">
                        <div id="canvasCarousel" class="carousel-inner" role="listbox">
                        </div>
                    </div>
                    <div id="bbImageError"></div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right" id="modal-button-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="lc"></div>*@

}

@Scripts.Render("~/assets/js/lesson")
@*@Scripts.Render("~/assets/vendor/slimscroll")*@
<script src="~/assets/vendor/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js"></script>
@*@Scripts.Render("~/signalr")*@
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/assets/vendor/pdf")
@Scripts.Render("~/assets/js/literallycanvas")