@model bat.logic.ViewModels.Lessons.View
@{
    ViewBag.Title = Model.lesson.Description;
}

@section head {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/Loader.css")" />
    @Styles.Render("~/assets/css/blackboard")
    @Styles.Render("~/assets/css/literallycanvas")
    <script>
        lessonId = "@Model.lesson.ID";
        id = @Model.account.ID;
        username = "@Model.account.Fname" + " " + "@Model.account.Lname";
        var deleteResourceUrl = '@Url.Action("DeleteResource", "Lessons", new { id = Model.lesson.ID })';
        var IsHost = "false";
        var IsHaveControl = "false";
        var exitMode = false;
        if(@Model.account.AccountType_ID == 2)
        {
            IsHost = "true";
            IsHaveControl = "true";
            exitMode = true;
        }
    </script>
}


@section scripts {
    <script>
        $('#bbImage-list').slimScroll({
            height: '500px'
        });
        //$(window).load(function() {
        //    // Animate loader off screen
        //    $(".se-pre-con").fadeOut("slow");
        //});

    </script>
}

@section outsideContainer {
    <div class="row" style="margin-top:-60px;">
        <div class="col-md-12">
            <div style="overflow: auto;">
                <h2 class="pull-left" style="margin-bottom: 40px;">
                    @Model.lesson.Description
                </h2>
                <div class="pull-right">
                    @if (Model.IsTeacher)
                    {
                        <a href="@Url.Action("Reschedule", new {id = Model.lesson.ID})" class="btn btn-lg btn-default">
                            <i class="fa fa-calendar"></i> Reschedule lesson
                        </a>
                        <a href="@Url.Action("Edit", new {id = Model.lesson.ID})" class="btn btn-lg btn-default">
                            <i class="fa fa-edit"></i> Edit lesson details
                        </a>
                    }
                    <a href="@Model.lesson.ZoomJoinUrl" target="_blank" class="btn btn-lg btn-primary">
                        <i class="fa fa-video-camera"></i> Start video
                    </a>
                </div>

            </div>
            <div class="row" style="height: 40px;">
                <div class="col-md-8">
                    <ul class="nav nav-tabs bottom-bump">
                        <li class="active"><a data-toggle="tab" href="#lessonOverview">Lesson Overview</a></li>
                        <li><a data-toggle="tab" href="#blackboard-Tab" onclick="resizeTeacherCanvas()">Blackboard</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="lessonOverview" class="tab-pane fade in active" style="padding: 20px;">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>
                                        <strong>
                                            Teacher
                                        </strong>
                                        <br />
                                        @if (string.IsNullOrEmpty(Model.host.Picture))
                                        {
                                            <img style="height: 120px; width: 120px;" src="@Url.Content("~/assets/img/default-avatar.png")" alt="Profile Pic" />
                                        }
                                        else
                                        {
                                            <img style="height: 120px; width: 120px;" src="@Url.Action("DownloadResource", "ProfilePictureApi", new { id = Model.host.ID, name = Model.host.Fname})" alt="Profile Pic" />
                                        }
                                        <br />
                                        @Model.host.Fname @Model.host.Lname
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <strong>
                                            @Model.lesson.Subject
                                        </strong>
                                    </p>
                                    <p>
                                        Date: @Model.lesson.BookingDate.ToString("dd/MM/yyyy hh:mm tt")
                                    </p>
                                    <p>
                                        Duration mins: @Model.lesson.DurationMins
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        Class size: @Model.lesson.ClassSize
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        <strong>
                                            Attendees
                                        </strong>
                                        @foreach (var student in Model.others)
                                        {
                                            <text>
                                                <br />
                                                @student.Fname @student.Lname
                                            </text>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div>
                                @Html.Raw(HttpUtility.UrlDecode(Model.lesson.DetailedDescription))
                            </div>
                        </div>
                        <div id="blackboard-Tab" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.Partial("_PartialWhiteboard", Model)
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h4 class="no-margin">
                                            Blackboard Images
                                            <button class="btn btn-primary pull-right" onclick="uploadImageModal();"><i class="fa fa-upload" aria-hidden="true"></i></button>
                                        </h4>
                                    </div>
                                    <div id="bbImage-list">
                                        @foreach (var resource in Model.lessonResources)
                                        {
                                            if (resource.Type_ID == bat.logic.Constants.Types.Image)
                                            {
                                                <div style="overflow: auto;">
                                                    <button class="btn btn-link pull-left" onclick="loadCloudImg('@resource.ID')">
                                                        @resource.Original_Name
                                                    </button>

                                                    <a href="@Url.Action("DeleteResource", "Lessons", new {id = Model.lesson.ID, resourceId = resource.ID})"
                                                       class="pull-right" style="padding: 10px;">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-tabs bottom-bump">
                        <li class="active"><a data-toggle="tab" href="#ChatBoxTab">Chat</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="ChatBoxTab" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-11">
                                    @Html.Partial("_PartialChatBox", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
        <div style="width:630px" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="no-margin">Upload an image to use on the Blackboard</h4>
                </div>
                <div class="modal-body">
                    <input style="margin-bottom: 2px;" type='file' class="form-control" name="Upload Blackboard image" id="bbImageInput" />
                    <div id="preview-carousel" class="carousel slide">
                        <div id="canvasCarousel" class="carousel-inner" role="listbox">
                        </div>
                    </div>
                    <div id="bbImageError"></div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right" id="modal-button-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
@*<div id="lc"></div>*@

}

@Scripts.Render("~/assets/js/lesson")
@*@Scripts.Render("~/assets/vendor/slimscroll")*@
<script src="~/assets/vendor/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js"></script>
@*@Scripts.Render("~/signalr")*@
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/assets/vendor/pdf")
@Scripts.Render("~/assets/js/literallycanvas")