@model bat.logic.ViewModels.Profile.Profile
@{
    ViewBag.Title = "Account";
}


@if (ViewBag.Error != null)
{
    <p style="color: red; font-weight: bold">@ViewBag.Error</p>
}

<div class="row">
    @if (Model.AccInfo.account.AccountType_ID == (int)bat.logic.Constants.Types.AccountTypes.Teacher)
    {
        <div class="col-md-2 col-md-offset-2">
            @if (string.IsNullOrEmpty(Model.AccInfo.account.Picture))
            {
                    <img style="height: 160px; width: 160px;" src="@Url.Content("~/assets/img/default-avatar.png")" alt="Profile Pic" />
            }
            else
            {
                <img style="height: 160px; width: 160px;" src="@Url.Action("DownloadResource", "ProfilePictureApi", new { id = Model.AccInfo.account.ID, name = Model.AccInfo.account.Fname})" alt="Profile Pic" />
            }
        </div>
        <div class="col-md-7 col-md-offset-1">
            <h1>@Model.AccInfo.account.Fname @Model.AccInfo.account.Lname
                @if (Model.AccInfo.account.Approved == true)
                {
                    <span class="green small-bold">(Approved)</span>
                }
            </h1>
            <h4>
                Rate (&#163): @Model.AccInfo.account.Rate
            </h4>
            <p>
                <strong>
                    @Model.AccInfo.account.Qualifications
                </strong>
            </p>
            <p>
                @Model.AccInfo.account.Description
            </p>
            <p>
                <a href="@Url.Action("edit")" class="btn btn-primary">Edit Details</a>
            </p>
        </div>
    }
    else
    {
        <div class="col-md-8 col-md-offset-2">
            <h1>@Model.AccInfo.account.Fname @Model.AccInfo.account.Lname</h1>
            <p>
                <a href="@Url.Action("edit")" class="btn btn-primary">Edit Details</a>
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <div style="overflow: auto;">
                <h3 class="pull-left">
                    Your Family Members
                </h3>

                <div class="pull-right">
                    <a href="@Url.Action("new")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; New</a>
                </div>
            </div>
            @if (Model.AccInfo.familyMembers != null)
            {
                <table class="table">
                    @foreach (var familyMember in Model.AccInfo.familyMembers)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("EditMember", new { id = familyMember.ID })">@bat.logic.Helpers.UserAccountInfo.GetFullAccountName(familyMember.Account_ID)</a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
</div>