@model bat.logic.ViewModels.Admin.Edit
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}
@section scripts {
    <script src="https://tinymce.cachefly.net/4.1/tinymce.min.js"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: '#txtDescription',
            theme: 'modern',
            height: 400
        });
        $(document).ready(function () {
        });
    </script>
}
<h2>Edit Subject: @Model.subjectDescription.Subject</h2>

@{ Html.BeginForm("Edit", "Admin", new { subject = Model.subjectDescription.Subject }, FormMethod.Post); }

<div class="form-group">
    <label class="control-label">Description</label>
    <textarea class="form-control" rows="5" placeholder="Description" name="txtDescription" id="txtDescription">@HttpUtility.UrlDecode(Model.subjectDescription.Description)</textarea>
</div>

<div style="margin-top: 40px; margin-bottom: 20px; overflow: auto;">
    <input type="submit" value="Ok" class="btn btn-lg btn-success pull-right" style="width: 110px;" />
    <a href="@Url.Action("Index")" class="btn btn-lg btn-default pull-right" style="margin-right: 20px;">
        Cancel
    </a>
</div>

@{ Html.EndForm(); }

@if (Model.subjectDescription.ID > 0)
{
    <div>
        <table class="table">
            <tr>
                <th colspan="2">
                    Past Exam Papers
                </th>
            </tr>
            <tr>
                @{ Html.BeginForm("UploadExamPaper", "Admin", new {id = Model.subjectDescription.ID}, FormMethod.Post, new {enctype = "multipart/form-data"}); }
                <td>
                    <input type='file' class="form-control" name="ExamPaper" id="ExamPaper"/>
                </td>
                <td>
                    <input type="submit"/>
                </td>
                @{ Html.EndForm(); }
            </tr>
            @foreach (var paper in Model.ExamPapers)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("DownloadExamPaper", "Admin", new {id = paper.ID, name = paper.Original_Name})"> @paper.Original_Name </a>
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteExamPaper", "Admin", new {id = paper.ID})">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}