@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h2>Manage Subjects</h2>

        @foreach (var dpt in bat.logic.Constants.Subjects.Departments)
        {
            <p>
                <strong>@dpt.Name</strong>
            </p>
            <ul>
                @foreach (var s in dpt.Subjects)
                {
                    <li>
                        <a href="@Url.Action("Edit", new {subject = @s})">@s</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-md-4">
        <p>
            <a href="@Url.Action("Tutors", "Admin")" class="btn btn-primary">Manage Tutors</a>
        </p>
        <p>
            <a href="@Url.Action("Students", "Admin")" class="btn btn-primary">Manage Students</a>
        </p>
        <p>
            <a href="@Url.Action("Lessons", "Admin")" class="btn btn-primary">Manage Lessons</a>
        </p>
    </div>
</div>

