@model bat.logic.ViewModels.Admin.Lessons
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Tutors";
}
@section head {
    <style>
        .table {
            display: table;
            font-size: x-large;
        }
        .table-row 
        { 
            display:table-row; 

        }
        .table-cell 
        { 
            display:table-cell; 

        }
        .no-decoration {
            text-decoration: none;
        }
    </style>
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Lessons</h1>
        <div class="table">
            <div class="table-row">
                <div class="table-cell">
                    Description
                </div>
                <div class="table-cell">
                    Tutor
                </div>
                <div class="table-cell">
                    Date
                </div>
                <div class="table-cell">
                    Time
                </div>
                <div class="table-cell">
                    Status
                </div>
            </div>
            @foreach (var lesson in Model.lessons)
            {
                <a href="@Url.Action("Lesson", "Admin", new { id =  lesson.ID})" class="table-row">
                    <div class="table-cell">@lesson.Description</div>
                    <div class="table-cell">@Model.GetFullAccountName(lesson.Account_ID)</div>
                    <div class="table-cell">@lesson.BookingDate.ToShortDateString()</div>
                    <div class="table-cell">@lesson.BookingDate.ToShortTimeString()</div>
                    @if (lesson.Hidden != true)
                    {
                        <div class="table-cell" style="color:lawngreen">
                            Shown
                        </div>
                    }else
                    {
                        <div class="table-cell" style="color:red">
                            Hidden
                        </div>
                    }
                </a>
            }
        </div>
    </div>
</div>