@model bat.logic.ViewModels.ChatRecords.Index

@{
    ViewBag.Title = "Chat Records";
}

<h1>Chat Records </h1>

<div class="row">
@if (Model.teacherLessons.Any())
{
    <div class="col-sm-12">
        <h2>Lessons you taught:</h2>
        @foreach (var lesson in Model.teacherLessons)
        {
            <p>
                <a href="@Url.RouteUrl("details", new { id = lesson.ID })">
                    @lesson.Description
                </a>
            </p>
        }
    </div>
}
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Your Class Records:</h2>
        @foreach (var lesson in Model.lessons)
        {
            <p>
                <a href="@Url.RouteUrl("details", new { id = lesson.ID })">
                    @lesson.Description
                </a>
            </p>
        }
    </div>
    @if (Model.familyRecords.Any())
    {
        <div class="col-sm-6">
            <h2>Family Members Records:</h2>
            @foreach (var familyRecord in Model.familyRecords)
            {
                <h3>@Model.GetAccountName(familyRecord.familyMember.ID):</h3>
                foreach (var lesson in familyRecord.lessons)
                {
                    <p>
                        <a href="@Url.RouteUrl("details", new { id = lesson.ID })">
                            @lesson.Description
                        </a>
                    </p>
                }
            }
        </div>
    }
</div>
