@model bat.logic.Models.Master
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Buzz a Tutor" />
    <meta name="author" content="">
    @RenderSection("meta", required: false)

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/assets/img/fav32x32.ico")" />
    <link rel="prefetch" href="@Url.Content("~/assets/img/logo.png")">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
    @Styles.Render("~/assets/css/main")

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <div class="nav-header navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.RouteUrl("home")">
                <img src="@Url.Content("~/assets/img/logo.png")" alt="Buzz a Tutor" style="height: 30px; margin-top: -5px;" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>

            @RenderSection("nav", required: false)

            <ul class="nav navbar-nav pull-right">
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-user"></i> &nbsp; @Model.account.Fname @Model.account.Lname &nbsp; <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="@Url.RouteUrl("logout")"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="pad-container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>