@model bat.logic.ViewModels.Homepage.Dashboard
@{
    ViewBag.Title = "Student";
    var currentSubject = "";
    var currentSubjectChanged = false;
}

<div style="overflow: auto;">
    <h2 class="pull-left" style="margin-bottom: 40px;">
        Welcome, @Model.account.Fname @Model.account.Lname
    </h2>
    <a href="@Url.RouteUrl("subjects")" class="btn btn-lg btn-primary pull-right" style="margin-top: 20px;">
        Find more Lessons
    </a>
</div>

<h4 style="margin-bottom: 20px;">
    Here are your lessons
</h4>
@foreach (var lesson in Model.lessons)
{
    currentSubjectChanged = false;
    if (currentSubject != lesson.Subject)
    {
        currentSubject = lesson.Subject;
        currentSubjectChanged = true;
    }
    <p>
        @if (currentSubjectChanged && !string.IsNullOrEmpty(currentSubject))
                {
            <strong>
                @currentSubject
            </strong>
                    <br />
        }
        <a href="@Url.RouteUrl("lessons", new {id = lesson.ID})">
            @lesson.Description
        </a>
    </p>
}
