@model bat.logic.ViewModels.Homepage.Dashboard
@{
    var user = new bat.logic.Rules.Authentication(Request.GetOwinContext()).GetLoggedInUser();
    ViewBag.Title = "Buzz a Tutor";
}
@section head {
    <link rel='stylesheet' href='@Url.Content("~/assets/css/fullcalendar.min.css")' />
}
@section scripts {
    <script>
        var newUrl = '@Url.RouteUrl("lessons/new")';
    </script>
    <script src='@Url.Content("~/assets/js/moment.min.js")'></script>
    <script src='@Url.Content("~/assets/js/moment-timezone.js")'></script>
    <script src='@Url.Content("~/assets/js/fullcalendar.min.js")'></script>
    <script src='@Url.Content("~/assets/js/calendar.js")'></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>    
            Welcome, @bat.logic.Helpers.UserAccountInfo.GetFullAccountName(user.ID)
        </h2>
    </div>
</div>

@if (Model.classrooms != null)
{
    <div class="row">
        <div class="col-md-12">
            <h4>Today's lessons</h4>
            <table class="table" style="width:100%">
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Student
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th colspan="3">

                    </th>
                </tr>
                @foreach (var classroom in Model.classrooms)
                {
                    <tr>
                        <td style="vertical-align:middle">
                            @classroom.lesson.Description
                        </td>
                        <td style="vertical-align:middle">
                            @foreach (var participant in classroom.participants)
                            {
                                @bat.logic.Helpers.UserAccountInfo.GetFullAccountName(participant.Account_ID)
                            }
                        </td>
                        <td style="vertical-align:middle">
                            @classroom.lesson.BookingDate.ToShortDateString()
                        </td>
                        <td style="vertical-align:middle">
                            @classroom.lesson.BookingDate.ToShortTimeString()
                        </td>
                        <td class="text-center" style="vertical-align:middle">
                            <a href="@Url.Action("Index", "Lessons", new { id = classroom.lesson.ID })" class="btn btn-primary">
                                <strong>Join</strong> Lesson
                            </a>
                        </td>
                        <td class="text-center" style="vertical-align:middle">
                            <a href="@Url.Action("Edit", "Lessons", new { id = classroom.lesson.ID })" class="btn btn-primary">
                                <strong>Edit</strong> Lesson
                            </a>
                        </td>
                        <td class="text-center" style="vertical-align:middle">
                            <a href="@Url.Action("Reschedule", "Lessons", new { id = classroom.lesson.ID })" class="btn btn-primary">
                                <strong>Reschedule</strong> Lesson
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
        <p>
            <a href="@Url.RouteUrl("lessons/new")" class="btn btn-primary new-lesson-button">
                Create a new lesson
            </a>
        </p>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-sm-6">
        <input id="userID" type="hidden" value="@user.ID" />
        <input id="getEventsPath" type="hidden" value="@Url.HttpRouteUrl("api/dashboard/getevents", new { controller = "DashBoardApi", action = "Getevents" })" />
        <input id="getDayPath" type="hidden" value="@Url.HttpRouteUrl("api/dashboard/getday", new { controller = "DashBoardApi", action = "Getday" })" />
        <input id="getLessonPath" type="hidden" value="@Url.Action("Index", "Lessons")" />
        <div id='calendar'></div>
    </div>
    <div class="col-sm-6">
        <div id='agendaDay'></div>
    </div>
</div>



