@model bat.logic.ViewModels.Homepage.Dashboard
@{
    ViewBag.Title = "Student";
    var currentSubject = "";
    var currentSubjectChanged = false;
}

<h2>Welcome, @Model.account.Fname @Model.account.Lname</h2>

<div class="row">
    <div class="col-sm-6">
        <h4 style="margin-bottom: 20px;">
            Here are your lessons
        </h4>
        @foreach (var lesson in Model.lessons)
        {
            currentSubjectChanged = false;
            if (currentSubject != lesson.Subject)
            {
                currentSubject = lesson.Subject;
                currentSubjectChanged = true;
            }
            <p>
                @if (currentSubjectChanged && !string.IsNullOrEmpty(currentSubject))
                {
                    <strong>
                        @currentSubject
                    </strong>
                    <br />
                }
                <a href="@Url.RouteUrl("lessons", new {id = lesson.ID})">
                    @lesson.Description
                </a>
            </p>
        }
    </div>
    <div class="col-sm-6">
        <h4 style="margin-bottom: 20px;">
            Browse for more lessons
        </h4>

        @foreach (var dpt in bat.logic.Constants.Subjects.Departments)
        {
            <p>
                <strong>@dpt.Name</strong>
            </p>
            <ul>
                @foreach (var s in dpt.Subjects)
                {
                    <li>
                        <a href="@Url.RouteUrl("subject", new {subject = @s})">@s</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
