@model bat.logic.ViewModels.Homepage.Dashboard
@{
    ViewBag.Title = "Teacher";
}

<h2>Welcome, @Model.account.Fname @Model.account.Lname</h2>

<div class="row">
    <div class="col-sm-6">
        @if (Model.lessons.Any())
        {
            <h2>Here are your lessons</h2>
            <ul>
                @foreach (var lesson in Model.lessons)
                {
                    <li>
                        <p>
                            @if (string.IsNullOrEmpty(lesson.Subject))
                            {
                                <a href="@Url.RouteUrl("lessons", new {id = lesson.ID})">
                                    @lesson.Description
                                </a>
                            }
                            else
                            {
                                <strong>
                                    @lesson.Subject
                                </strong>
                                <br />
                                <a href="@Url.RouteUrl("lessons", new {id = lesson.ID})">
                                    @lesson.Description
                                </a>
                            }
                        </p>
                    </li>
                }
            </ul>
        }
        <p>
            <a href="@Url.RouteUrl("lessons/new")" class="btn btn-primary">Create a new lesson</a>
        </p>
    </div>
    <div class="col-sm-6">
    </div>
</div>


