@model bat.logic.ViewModels.Homepage.Dashboard
@{
    ViewBag.Title = "Teacher";
}
@section head {
    <link rel='stylesheet' href='@Url.Content("~/assets/css/fullcalendar.min.css")' />
    <script src='@Url.Content("~/assets/js/jquery.js")'></script>
    <script src='@Url.Content("~/assets/js/moment.min.js")'></script>
    <script src='@Url.Content("~/assets/js/moment-timezone.js")'></script>
    <script src='@Url.Content("~/assets/js/fullcalendar.min.js")'></script>
    <script src='@Url.Content("~/assets/js/calendar.js")'></script>
}

<div class="row">
    <div class="col-md-6">
        <h2>Welcome, @Model.account.Fname @Model.account.Lname</h2>
    </div>
    <div class="col-md-6">
        <p class="pull-right" style="margin-top: 20px;">
            <a href="@Url.RouteUrl("lessons/new")" class="btn btn-primary">
                Create a new lesson
            </a>
        </p>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="col-sm-6">
        <input id="userID" type="hidden" value="@Model.account.ID" />
        <input id="getEventsPath" type="hidden" value="@Url.HttpRouteUrl("api/dashboard/getevents", new { controller = "DashBoardApi", action = "Getevents" })" />
        <input id="getDayPath" type="hidden" value="@Url.HttpRouteUrl("api/dashboard/getday", new { controller = "DashBoardApi", action = "Getday" })" />
        <input id="getLessonPath" type="hidden" value="@Url.Action("Index", "Lessons")" />
        <div id='calendar'></div>
    </div>
    <div class="col-sm-6">
        <div id='agendaDay'></div>
    </div>
</div>



