@model bat.logic.Models.Homepage.Dashboard
@{
    ViewBag.Title = "Student";
}

<h2>Welcome, @Model.account.Fname @Model.account.Lname</h2>

<div class="row">
    <div class="col-sm-6">
        <h2>Here are your lessons</h2>
        @foreach (var lesson in Model.lessons)
        {
            <p>
                <a href="@Url.RouteUrl("lessons", new { id = lesson.ID })">
                    @lesson.Description
                </a>
            </p>
        }
    </div>
    <div class="col-sm-6">
        <h2>Here are lessons you can join</h2>
        @foreach (var lesson in Model.lessonsToJoin)
        {
            <p>
                <a href="@Url.RouteUrl("lessons/join", new { id = lesson.ID })">
                    @lesson.Description
                </a>
            </p>
        }
    </div>
</div>
