@{
    Layout = "~/Views/Shared/_LayoutContentOnly.cshtml";
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Password Reset</h2>

            @if (!string.IsNullOrEmpty(ViewBag.Response))
            {
                <p>
                    @ViewBag.Response
                </p>
            }
            else
            {
                <p>
                    Submit your email address to receive a link to reset your password.
                </p>

                <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Email" name="txtUsername" value="@ViewBag.email" required autofocus>
                </div>

                <div style="overflow: auto; margin-top: 40px;">
                    <a href="@Url.Action("Login")" class="btn btn-default pull-left">
                        Back to Log in
                    </a>
                    <button type="submit" class="btn btn-primary pull-right">
                        Submit
                    </button>
                </div>
            }

            @if (ViewBag.ErrMsg != null)
            {
                <h4>@ViewBag.ErrMsg</h4>
            }
        </div>
    </div>
}
