@model bat.logic.ViewModels.Homepage.Landing
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Buzz a Tutor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" type="image/png" href="@Url.Content("~/assets/img/fav32x32.ico")" />
	<script src="@Url.Content("~/assets/js/modernizr.custom.js")"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/dark.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/font-icons.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/animate.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/magnific-popup.css")" type="text/css" />
	<link rel="icon" type="image/png" href="@Url.Content("~/assets/img/favicon.png")">

	<link rel="stylesheet" href="@Url.Content("~/assets/css/responsive.css")" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/assets/js/plugins.js")"></script>
</head>

<body class="stretched">
	<div id="wrapper" class="clearfix">
		<header id="header" class="">
			<div id="header-wrap">
				<div class="container clearfix">
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
					<div id="logo">
						<a href="@Url.RouteUrl("home")"><img src="@Url.Content("~/assets/img/logo.png")" alt="Buzz a T Logo"></a>
					</div>
					<nav id="primary-menu">
						<ul>
							@*<li><a href="@Url.RouteUrl("home")"><div>Home</div></a></li>*@
							<li><a href="@Url.RouteUrl("about")"><div>About Us</div></a></li>
							<li><a href="@Url.RouteUrl("login")"><div>Log In</div></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="slider-overlay">
			<div class="fslider">
				<div class="flexslider">
					<div class="slider-wrap">
						<div class="slide"><img src="@Url.Content("~/assets/img/slider/1.jpg")" alt="Slider 1"></div>
						<div class="slide"><img src="@Url.Content("~/assets/img/slider/2.jpg")" alt="Slider 2"></div>
						<div class="slide"><img src="@Url.Content("~/assets/img/slider/3.jpg")" alt="Slider 3"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="form-overlay">
			<div id="contact-form-overlay" class="clearfix">
				@*<div class="fancy-title">
					<h7>Learn right now</h7>
					<div class="clear"></div>
					<div class="dotslinetop"></div>
					<h8>Get quality instruction at any time, at any place</h8>
					<div class="dotslinebottom"></div>
				</div>*@
				<form class="nobottommargin" id="template-contactform" name="template-contactform" action="" method="post">
					<div class="col_two_fifth form-group">
						<label for="template-contactform-service">Your are a<small>*</small></label>
						<select id="template-contactform-service" name="type" class="sm-form-control">
							<option value="@((int)bat.logic.Constants.Types.AccountTypes.Student)">Student</option>
							<option value="@((int)bat.logic.Constants.Types.AccountTypes.Teacher)">Teacher</option>
						</select>
					</div>

					<div class="col_one_fourth form-group">
						<label for="template-contactform-name">First name<small>*</small></label>
						<input type="text" id="template-contactform-name" name="firstname" value="" class="sm-form-control required" required />
					</div>

					<div class="col_one_fourth col_last form-group">
						<label for="template-contactform-email">Last Name <small>*</small></label>
						<input type="text" id="template-contactform-email" name="lastname" value="" class="required sm-form-control" required />
					</div>

					<div class="clear"></div>

					<div class="col_two_third form-group">
						<label for="template-contactform-phone">Email address</label>
						<input type="email" id="template-contactform-phone" name="email" value="" class="email sm-form-control" required />
					</div>

					<div class="col_one_fourth  col_last form-group">
						<label for="template-contactform-pass">Password</label>
						<input type="password" id="template-contactform-pass" name="password" value="" class="sm-form-control required" required />
					</div>

					<div class="clear"></div>


					<div class="col_full hidden">
						<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
					</div>

					<div class="col-full">
						<p style="color: #000; text-align: center">@ViewBag.Error</p>
						<button button class="button button-3d button-purple nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Sign up</button>
					</div>

				</form>
			</div>
		</div>

		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix ">
					<div class="slogan-title title-center nobottomborder">
						@*<div class="slogan">The future is waiting for you</div>
						<div class="clear"></div>*@
						<p>
							Buzzatutor is a team of experienced, professional and committed teachers, available online,
							whenever you need that extra help to get on top with your subject.
						</p>
						<p>
							Buzzatutor's user friendly interface will allow your tutor to mark and correct your work in real time.
						</p>
						<p>
							Whether you choose a one to one lesson or prefer to study with your friends, each individual user is able to
							interact with the group from the comfort of their own home.
						</p>
					</div>
					<div class="rows_container clearfix">
						<div id="portfolio" class="clearfix">
							<article class="portfolio-item clearfix">
								<div class="portfolio-image">
									<div class="feature-box fbox-effect">
										<div class="fbox-icon">
											<i class="icon-book" style="background-color:#ff982e"></i>
											<h3><span class="orange">ENGLISH</span></h3>
										</div>
									</div>
									<div class="portfolio-overlay" style="background-color:#ff982e">
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "GCSE_English" })'">GCSE English</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "A_Level_English" })'">A-Level</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='#'">About English tuition</button>
									</div>
								</div>
							</article>
							<article class="portfolio-item clearfix">
								<div class="portfolio-image">
									<div class="feature-box fbox-effect">
										<div class="fbox-icon">
											<i class="icon-calculator" style="background-color:#4fa1de"></i>
											<h3><span class="blue">MATHS</span></h3>
										</div>
									</div>
									<div class="portfolio-overlay" style="background-color:#4fa1de">
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "GCSE_Maths" })'">GCSE Maths</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "A_Level_Maths" })'">A-Level Maths</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='#'">About Maths tuition</button>
									</div>
								</div>
							</article>
							<article class="portfolio-item clearfix">
								<div class="portfolio-image">
									<div class="feature-box fbox-effect">
										<div class="fbox-icon">
											<i class="icon-beaker" style="background-color:#b91e7a"></i>
											<h3><span class="purple">SCIENCES</span></h3>
										</div>
									</div>
									<div class="portfolio-overlay" style="background-color:#b91e7a">
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "Biology" })'">Biology</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "Chemistry" })'">Chemistry</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "Physics" })'">Physics</button>
									</div>
								</div>
							</article>
							<article class="portfolio-item col-last">
								<div class="portfolio-image">
									<div class="feature-box fbox-effect">
										<div class="fbox-icon">
											<i class="icon-comments" style="background-color:#85de4f"></i>
											<h3><span class="green">LANGUAGES</span></h3>
										</div>
									</div>

									<div class="portfolio-overlay" style="background-color:#85de4f">
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "German" })'">German</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "French" })'">French</button>
										<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='@Url.RouteUrl("list-lessons", new { subject = "Japanese" })'">Japanese</button>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="title-block">
						<h4>
							Other Subjects:
							<span>
								<a href="@Url.RouteUrl("list-lessons", new {subject = "History"})">History</a>,
								<a href="@Url.RouteUrl("list-lessons", new {subject = "Geography"})">Geography</a>,
								<a href="@Url.RouteUrl("list-lessons", new {subject = "Computing"})">Computing</a>
							</span>
						</h4>
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			<div id="copyrights">
				<div class="container">
					<p class="pull-left">
						@DateTime.Today.ToString("yyyy") Copyright © Buzz a Tutor. All rights reserved.
					</p>
					<p class="footer-link pull-right" style="margin-left: 40px;">
						<a href="@Url.RouteUrl("terms")">
							Terms and Conditions
						</a>
					</p>
					<p class="footer-link pull-right" style="margin-left: 40px;">
						<a href="@Url.RouteUrl("privacy")">
							Privacy Policy
						</a>
					</p>
					<p class="footer-link pull-right">
						<a href="@Url.RouteUrl("about")">
							About
						</a>
					</p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="@Url.Content("~/assets/js/functions.js")"></script>
</body>
</html>
