@model bat.logic.Models.Homepage.Landing
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Buzz a Tutor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" type="image/png" href="@Url.Content("~/assets/img/fav32x32.ico")" />
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen" />
	<link href="@Url.Content("~/assets/css/yellow.css")" rel="stylesheet" media="screen">
	<link href="@Url.Content("~/assets/css/media-queries.css")" rel="stylesheet" media="screen">
	<link href="@Url.Content("~/assets/font/fontello.css")" rel="stylesheet">
	<!--[if IE 7]>
	<link href="@Url.Content("~/assets/font/fontello-ie7.css")" rel="stylesheet" ><![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- Media queries -->
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<script src="@Url.Content("~/assets/js/modernizr.custom.js")"></script>
</head>


<body>
	<!--Header -->
	<header class="navbar-fixed-top animated fadeInDown delay1">
		<div class="container">
			<div class="row">
				<!-- Static navbar -->
				<div class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<h1 class="logo">
							<a class="navbar-brand" href="@Url.RouteUrl("home")"><img src="@Url.Content("~/assets/img/logo.png")" alt="Buzz a Tutor" /></a>
						</h1>

					</div>
					<div class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav">
							<li><a href="@Url.RouteUrl("login")">Log in</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
				<!-- end Static navbar -->

			</div>
		</div>
		<!-- end container -->

	</header>
	<!-- end Header -->
	<!-- slider -->
	<section class="jumbotron animated fadeInUp delay2" id="menu-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Learn right now</h1>
					<h2>Get quality instruction at any time, at any place</h2>
					@*<p>Sign up now.</p>*@
					<form id="contact" class="row suscribe" action="" method="post" autocomplete="off" style="margin-top: 40px;">
						<div class="col-sm-4">
							<div class="form-group">
								<label>You are a:</label>
								<select class="form-control" name="type">
									<option value="student">Student</option>
									<option value="teacher">Teacher</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>First name</label>
								<input type="text" class="form-control" placeholder="First Name" name="firstname" value="@Model.firstName" required autocomplete="off">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Last name</label>
								<input type="text" class="form-control" placeholder="Last Name" name="lastname" value="@Model.lastName" required autocomplete="off">
							</div>
						</div>
						<div class="col-sm-8">
							<div class="form-group">
								<label>Email address</label>
								<input type="email" class="form-control" placeholder="Email" name="email" value="@Model.email" required autocomplete="off">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" placeholder="Password" name="password" required autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12">
							<p style="color: #000; text-align: center">@ViewBag.Error</p>
						</div>
						<div class="text-center">
							<button type="submit" class="btn text-center">Sign up</button>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<img src="@Url.Content("~/assets/img/big-image.png")" alt="image" class="figure">
				</div>
			</div>
		</div>
	</section>
	<!-- end slider -->
	<!-- Features -->
	<section id="menu-features" class="generic features animated fadeInUp delay3">
		<div class="container">

			<!-- title -->
			<div class="row text-center title">
				<h1>The future is waiting for you</h1>
				<h2>Quisque eu lectus at sem imperdiet aliqua and pendisse a hendsumellus nec turpis sed tellus.</h2>
			</div>
			<!-- end title -->
			<!-- items -->
			<div class="row">

				<div class="col-md-3 text-center item">
					<i class="icon-pencil"></i>
					<h3> Software Engineering</h3>
					<p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
				</div>

				<div class="col-md-3 text-center item">
					<i class="icon-lamp"></i>
					<h3>Analytical Chemistry</h3>
					<p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
				</div>

				<div class="col-md-3 text-center item">
					<i class="icon-brush"></i>
					<h3>Graphic Designer</h3>
					<p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
				</div>

				<div class="col-md-3 text-center item">
					<i class="icon-tools"></i>
					<h3>Systems Management</h3>
					<p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
				</div>

			</div>
			<!-- end items -->
		</div>
	</section>
	<!-- end Features -->
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row copy">
				<div class="col-sm-12">
					<h6 class="pull-left">
						© @DateTime.Today.ToString("yyyy") Buzz a Tutor. All rights reserved.
					</h6>
					<div class="pull-right">
						<span id="cdSiteSeal1">
							<script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb731940c53bfa3db5170x1qz7y7mb7355e4ye784176c0c20d3bc04"></script>
						</span>
					</div>
				</div>
				@*<div class="col-sm-6">
					<ul>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-vimeo"></i></a></li>
						<li><a href="#"><i class="icon-behance"></i></a></li>
					</ul>
				</div>*@
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	@*<script src="@Url.Content("~/assets/vendor/retina.js")"></script>*@
	<!--[if lt IE 8]><script src="@Url.Content("~/assets/vendor/respond.min.js")"></script><![endif]-->
</body>
</html>
