@model bat.logic.ViewModels.Homepage.Landing
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Buzz a Tutor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" type="image/png" href="@Url.Content("~/assets/img/fav32x32.ico")" />
	<script src="@Url.Content("~/assets/js/modernizr.custom.js")"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/vendor/font-awesome.min.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/creative.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/creative-mod.css")" type="text/css" />
	<link rel="icon" type="image/png" href="@Url.Content("~/assets/img/favicon.png")">

	<link rel="stylesheet" href="@Url.Content("~/assets/css/responsive.css")" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- Plugin CSS -->
	<link href="@Url.Content("~/assets/vendor/magnific-popup/magnific-popup.css")" rel="stylesheet">
	@Html.Partial("_PartialAzureApplicationInsights")
</head>
<body id="page-top">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="@Url.RouteUrl("landing")"><img src="@Url.Content("~/assets/img/logo.png")" alt="Buzz a Tutor" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="#about"><div>About Us</div></a>
					</li>
					<li>
						<a class="page-scroll" href="#lessons">Lessons</a>
					</li>
					<li>
						<a class="page-scroll" href="#sign-up">Sign Up</a>
					</li>
					<li>
						<a href="@Url.RouteUrl("login")">Login</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1 id="homeHeading">Get quality instruction at any time, at any place</h1>
				<hr>
				<p id="header-info">Buzzatutor is a team of experienced, professional and committed teachers, available online, whenever you need that extra help to get on top with your subject.</p>
				<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
			</div>
		</div>
	</header>
	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<p class="gray">
						Buzzatutor's user friendly interface will allow your tutor to mark and correct your work in real time.
					</p>
					<p class="gray">
						Whether you choose a one to one lesson or prefer to study with your friends, each individual user is able to
						interact with the group from the comfort of their own home.
					</p>
                    <p class="gray">
                        We want to enable our users to achieve their goals in a most clear and effective way.
                    </p>
				</div>
			</div>
		</div>
	</section>
	<section id="lessons">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading white-shadow green">Our Lessons.</h2>
					<hr class="light">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-newspaper-o sr-icons white-shadow"></i>
						<h3 class="white-shadow">English</h3>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new { subject = "GCSE_English" })">GCSE English</a></p>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "A_Level_English"})">A-Level</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-calculator sr-icons white-shadow"></i>
						<h3 class="white-shadow">Maths</h3>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "GCSE_Maths"})">GCSE Maths</a></p>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "A_Level_Maths"})">A-Level Maths</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-rocket sr-icons white-shadow"></i>
						<h3 class="white-shadow">Sciences</h3>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "Biology"})">Biology</a></p>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "Chemistry"})">Chemistry</a></p>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "Physics"})">Physics</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-globe sr-icons white-shadow"></i>
						<h3 class="white-shadow">Languages</h3>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "German"})">German</a></p>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "French"})">French</a></p>
						<p><a class="white-shadow" href="@Url.RouteUrl("list-lessons", new {subject = "Japanese"})">Japanese</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section id="tutors">

    </section>
	<section id="sign-up" class="bg-dark">
		<div class="container text-center">
			<div class="call-to-action">
				<h2 class="white-shadow purple">Sign Up Now!</h2>
                <hr class="light">
				<form class="nobottommargin" id="template-contactform" name="template-contactform" action="" method="post">
					<div class="col-md-6 form-group">
						<label for="template-contactform-service" class="white-shadow">Your are a<small>*</small></label>
						<select id="template-contactform-service" name="type" class="sm-form-control">
							<option value="@((int)bat.logic.Constants.Types.AccountTypes.Student)">Student</option>
							<option value="@((int)bat.logic.Constants.Types.AccountTypes.Teacher)">Teacher</option>
						</select>
					</div>

					<div class="col-md-3 form-group">
						<label for="template-contactform-firstname" class="white-shadow">First name<small>*</small></label>
						<input type="text" id="template-contactform-firstname" name="firstname" value="" class="sm-form-control required" required />
					</div>

					<div class="col-md-3 col_last form-group">
						<label for="template-contactform-lastname" class="white-shadow">Last Name <small>*</small></label>
						<input type="text" id="template-contactform-lastname" name="lastname" value="" class="required sm-form-control" required />
					</div>

					<div class="clear"></div>

					<div class="col-md-8 form-group">
						<label for="template-contactform-email" class="white-shadow">Email address<small>*</small></label>
						<input type="email" id="template-contactform-email" name="email" value="" class="email required sm-form-control" required />
					</div>

					<div class="col-md-4  col_last form-group">
						<label for="template-contactform-pass" class="white-shadow">Password<small>*</small></label>
						<input type="password" id="template-contactform-pass" name="password" value="" class="sm-form-control required" required />
					</div>

					<div class="clear"></div>


					<div class="col_full hidden">
						<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
					</div>

					<div class="col-full">
						<p style="color: #ff0000; text-align: center">@ViewBag.Error</p>
						<button button class="btn btn-default btn-xl sr-button" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Sign up</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<footer id="footer">
            <row>
                <div class="col-md-6">
                    <p class="center">
                        @DateTime.Today.ToString("yyyy") Copyright © Buzz a Tutor. All rights reserved.
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="footer-link center">
                        <a href="#about" class="page-scroll">
                            About
                        </a>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="footer-link center">
                        <a href="@Url.RouteUrl("terms")">
                            Terms and Conditions
                        </a>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="footer-link center">
                        <a href="@Url.RouteUrl("privacy")">
                            Privacy Policy
                        </a>
                    </p>
                </div>
		</row>
	</footer>
	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript" src="@Url.Content("~/assets/vendor/scrollreveal/scrollreveal.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js")"></script>
	<!-- Theme JavaScript -->
	<script type="text/javascript" src="@Url.Content("~/assets/js/creative.min.js")"></script>
</body>
</html>
