@model bat.logic.ViewModels.Homepage.SubjectList
@{
    var nextCaption = Model.account.ID > 0 ? "Learn More" : "Register now";
}
@section head {
    <title>Lessons by Subject</title>
}

<p>
    <h2 class="pull-left" style="margin-bottom: 40px;">
        @Model.subject Lessons:
    </h2>
    <a href="@Url.RouteUrl("subjects")" class="btn btn-lg btn-primary pull-right" style="margin-top: 20px;">
        More Subjects
    </a>
</p>

<div class="row">
    <div class="col-sm-12">
        <table class="table" style="width:100%">
            <tr>
                <td>
                    <strong>Description</strong>
                </td>
                <td>
                    <strong>Teacher</strong>
                </td>
                <td>
                    <strong>Date</strong>
                </td>
                <td>
                    <strong>Time</strong>
                </td>
                <td></td>
            </tr>
            @foreach (var lesson in Model.lessons)
            {
                <tr>
                    <td>@lesson.Description</td>
                    <td>@Model.GetFullAccountName(@lesson.Account_ID)</td>
                    <td>@lesson.BookingDate.ToShortDateString()</td>
                    <td>@lesson.BookingDate.ToShortTimeString()</td>
                    <td><a href="@Url.RouteUrl("lessons/join", new { id = lesson.ID })" class="btn btn-default">@nextCaption</a></td>
                </tr>
            }
        </table>
    </div>
</div>