@model bat.logic.ViewModels.Homepage.SubjectList
@{
    var nextCaption = Model.account.ID > 0 ? "Learn More" : "Register now";
}
@section head {
    <title>Lessons by Subject</title>
    <style>
        .td-center{
            text-align:center;
        }
    </style>
}

<div style="overflow: auto;">
    <p>
        <h2 class="pull-left" style="margin-bottom: 40px;">
            @Model.subject Lessons:
        </h2>
        <a href="@Url.RouteUrl("subjects")" class="btn btn-lg btn-primary pull-right" style="margin-top: 20px;">
            More Subjects
        </a>
    </p>
</div>

<div>
@Html.Raw(HttpUtility.UrlDecode(Model.subjectDescription.Description))
</div>

@if (Model.ExamPapers.Any())
{
    <p style="margin-top: 40px;">
        <a class="btn btn-default" data-toggle="collapse" href="#collapseExamPapers" aria-expanded="false" aria-controls="collapseExamPapers">
            Past Exam Papers
        </a>
    </p>
    <div class="collapse" id="collapseExamPapers">
        <table class="table">
            @foreach (var paper in Model.ExamPapers)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("DownloadExamPaper", "Lessons", new {id = paper.ID, name = paper.Original_Name})"> @paper.Original_Name </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div class="row" style="margin-top: 40px;">
    <div class="col-sm-12">
        <table class="table" style="width:100%">
            <tr>
                <th class="td-center" colspan="3">
                    <strong>Teacher</strong>
                </th>
                <th class="td-center">
                    <strong>Lesson Description</strong>
                </th>
                <th class="td-center">
                    <strong>Date</strong>
                </th>
                <th class="td-center">
                    <strong>Time</strong>
                </th>
                <th class="td-center">
                    <strong>Rate</strong>
                </th>
                <th></th>
            </tr>
            @foreach (var classroom in Model.classList)
            {
                <tr>
                    @if (string.IsNullOrEmpty(classroom.tutor.Picture))
                    {
                        <td>
                            <img style="height: 80px; width: 80px;" src="@Url.Content("~/assets/img/default-avatar.png")" alt="Profile Pic" />
                        </td>
                    }
                    else {
                        <td class="td-center"><img style="height: 80px; width: 80px;" src="@Url.Action("DownloadResource", "ProfilePictureApi", new { id = classroom.tutor.ID, name = Model.GetFullAccountName(classroom.tutor.ID)})" alt="Profile Pic" /></td>
                    }
                    <td>@Model.GetFullAccountName(classroom.tutor.ID)</td>
                    <td>@classroom.tutor.Description</td>
                    <td class="td-center">@classroom.lesson.Description</td>
                    <td class="td-center">@classroom.lesson.BookingDate.ToShortDateString()</td>
                    <td class="td-center">@classroom.lesson.BookingDate.ToShortTimeString()</td>
                    <td class="td-center">&#163 @classroom.tutor.Rate</td>
                    <td class="td-center"><a href="@Url.RouteUrl("lessons/join", new { id = classroom.lesson.ID })" class="btn btn-default">@nextCaption</a></td>
                </tr>
            }
        </table>
    </div>
</div>