@model bat.logic.ViewModels.Homepage.TeacherList

@{
    ViewBag.Title = "Teachers";
}

<h3>Teachers</h3>
<hr />
<div class="row">
    @foreach (var teacher in Model.teachers)
    {
        var rate = teacher.Rate ?? 0;
        <div class="col-md-3">
            <p style="text-align: center;">
                @if (string.IsNullOrEmpty(teacher.Picture))
                {
                    <img style="height: 80px; width: 80px;" src="@Url.Content("~/assets/img/default-avatar.png")" alt="Profile Pic" />
                }
                else
                {
                    <img style="height: 80px; width: 80px;" src="@Url.Action("DownloadResource", "ProfilePictureApi", new {id = teacher.ID, name = Model.GetFullAccountName(teacher.ID)})" alt="Profile Pic" />
                }
            </p>
            <strong>
                <p style="text-align: center;">
                    @Model.GetFullAccountName(teacher.ID) - &#163 @rate.ToString("#.00") /hr
                </p>
            </strong>
            <p style="text-align: center;">
                @teacher.Qualifications &nbsp;
            </p>
            <p style="text-align: center;">
                @teacher.Description &nbsp;
            </p>
            <p style="text-align: center;">
                <a href="@Url.RouteUrl("teacher", new {id = teacher.ID})" class="btn btn-primary">
                    View Profile
                </a>
            </p>
        </div>
    }
</div>
