@model bat.logic.ViewModels.Homepage.Register
@{
    ViewBag.Title = "Register";
}

@section head{
<link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/dark.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/font-icons.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/animate.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/magnific-popup.css")" type="text/css" />    
}

<div class="row">
    <!-- Contact Form
============================================= -->

    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <form class="" id="template-contactform" name="template-contactform" action="" method="post">
                <div class="col_full form-group">
                    <label for="template-contactform-service" style="color:#000">Your are a<small>*</small></label>
                    <select id="template-contactform-service" name="type" class="sm-form-control">
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                    </select>
                </div>

                <div class="col_full form-group">
                    <label for="template-contactform-names" style="color:#000">First name<small>*</small></label>
                    <input type="text" id="template-contactform-name" name="firstname" value="" class="sm-form-control required" required />
                </div>

                <div class="col_full col_last form-group">
                    <label for="template-contactform-email" style="color:#000">Last Name <small>*</small></label>
                    <input type="text" id="template-contactform-email" name="lastname" value="" class="required sm-form-control" required />
                </div>

                <div class="clear"></div>

                <div class="col_full form-group">
                    <label for="template-contactform-phone" style="color:#000">Email address</label>
                    <input type="email" id="template-contactform-phone" name="email" value="" class="email sm-form-control" required />
                </div>

                <div class="col_full  col_last form-group">
                    <label for="template-contactform-pass" style="color:#000">Password</label>
                    <input type="password" id="template-contactform-pass" name="password" value="" class="sm-form-control required" required />
                </div>

                <div class="clear"></div>

                <div class="col_full hidden">
                    <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                </div>

                <div class="col-full">
                    <p style="color: #000; text-align: center">@ViewBag.Error</p>
                    <button button class="button button-3d button-purple nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Sign up</button>
                </div>

            </form>
        </div>
    </div>
</div>
