@model bat.logic.ViewModels.Homepage.SubjectList

@section head {
    <title>Lessons by Subject</title>
}

<h2>Avaliable @Model.subject Lessons:</h2>

<div class="row">
    <div class="col-sm-12">
        <table border="1" style="width:100%">
            <tr>
                <td>Lesson Description</td>
                <td>Teacher</td>
                <td>Date</td>
                <td>Time</td>
                <td>Lesson Infomation</td>
            </tr>
            @foreach (var lesson in Model.lessons)
            {
                <tr>
                    <td>@lesson.Description</td>
                    <td>@Model.GetFullAccountName(@lesson.Account_ID)</td>
                    <td>@lesson.BookingDate.ToShortDateString()</td>
                    <td>@lesson.BookingDate.ToShortTimeString()</td>
                    <td><button  onclick="window.location.href='@Url.RouteUrl("lessons/join", new { subject = @lesson.Subject, id = @lesson.ID })'">Learn More</button></td>
                </tr>
            }
        </table>
    </div>
</div>