@model bat.logic.ViewModels.Homepage.SubjectList

@{
    Layout = "";
    ViewBag.Title = "Lessons by Subject";
}

<h2>Avaliable @Model.subject Lessons:</h2>

<div class="row">
    <div class="col-sm-12">
        <table border="1" style="width:100%">
            <tr>
                <td>Lesson Description</td>
                <td>Teacher</td>
                <td>Date</td>
                <td>Time</td>
                <td>Availability</td>
                <td>Join Lesson</td>
            </tr>
            @foreach (var lesson in Model.subjectLessons)
            {
                <tr>
                    <td>@lesson.lessonInfo.Description</td>
                    <td>@Model.GetFullAccountName(@lesson.lessonInfo.Account_ID)</td>
                    <td>@lesson.lessonInfo.BookingDate.ToShortDateString()</td>
                    <td>@lesson.lessonInfo.BookingDate.ToShortTimeString()</td>
                    <td>@lesson.openSlots</td>
                    <td><button>Join</button></td>
                </tr>
            }
        </table>
    </div>
</div>